<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ app_name if app_name else "Recipe Search" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}" />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <a href="/" class="brand">Emmi Recipe Search</a>
      </div>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>

